<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro- Livros</title>
</head>
<body>
    <h1>Cadastro de livros</h1>
    <form action="/livros" method="POST">

    <div if(data.livro.id)>
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" id="id" name="id" value="${data.livro.id}" />
    </div>

    <div>
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" value="${data.livro.titulo}" placeholder="insira o titulo"/>
    </div>
    <div>
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" value="${data.livro.preco}" placeholder="153,23"/>
    </div>
    <div>
        <label for="descricao">Descrição:</label>
        <textarea cols="20" rows="10" id="descricao" name="descricao">${data.livro.descricao}</textarea>
    </div>
    <input type="submit" value="Salvar"/>
    </form>
</body>
</html>